@import "tailwindcss";

.main-container {
    background-color: #0d1323;
}

.tasks-list li {
    background-color: #131e2f;
}

ion-icon {
    /* color: #517bfa !important; */
    --ionicon-stroke-width: 64px;
}

/* .tasks-list li .del-icon {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
} */

.tasks-list li input[type="checkbox"]:checked {
    /* accent-color: #517bfa; */
}